@import url("template.css");

.form-box {
  background: $white;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 0 0;
  padding: 40px 20px 0 20px;
  width: 270px;
}

.form-element {
	margin-bottom: 30px;
}

.after-topbar {
  padding-bottom: 30px;
}
